web/week02/images
web/week02/.DS_Store
.DS_Store
web/week02/poll_result.txt
web/images/myrnaLoy04.png
web/images/myrnaLoy01.jpg
web/images/myrnaLoy01.png
web/images/myrnaLoy02.jpg
web/images/myrnaLoy02.png
web/images/myrnaLoy03.png
web/images/myrnaLoy04.jpg
web/images/myrnaLoy05.jpg
web/images/myrnaLoy05.png
web/images/myrnaLoy06.jpg
web/images/myrnaLoy06.png
web/images/poll.gif
web/docs/poll_result.txt
web/.DS_Store
