/**********************************************************
* Style Sheet Week02: Homepage
* Alice Smith
* CS313 - Bro. Porter
**********************************************************/
/************************************
* Universal
*************************************/
* {
  box-sizing:border-box;
}
h1 {
  color:purple;
}

.menuItem {
  border:1px solid dodgerblue;
  margin:10px;
  padding:10px;
}

img {
  height:200px;
  width:200px
}

/************************************
* Grid Layout
*************************************/
[class*="col-"] {
  width: 100%;
  border:1px solid red;
}

#dataTable {
display:block;
}

/* desktop sizing */
@media only screen and (min-width: 768px) {
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
  float:left;
  padding: 15px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.flex {
  display:flex;
  justify-content:space-around;
}

}