/*=============================================
= Style Sheet Week02-2: Homepage
  Alice Smith
  CS313 - Bro. Porter
=============================================*/
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&family=Lora&display=swap');


/* Universal */
body {
  margin-right: auto;
  margin-left: auto;
  max-width: 75%;
  padding: 20px;
  font-family: 'Baloo Bhaijaan 2', cursive;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #404552;
  color: #D4D5D9;
}

/* Headings and Special items */
h1 {
  font-family: 'Lora', serif;
  font-size: 3em;
}

hr {
  width: 75%;
}

/* Nav */

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 50%;
}

nav a{
  text-decoration: none;
  color: #D4D5D9;
  text-align: center;
  font-size: 2em;
  width: 100%;
  border: 2px solid #4B5162;
}

nav a:last-child {
  border-bottom: 4px solid #4B5162;
}


nav a:hover {
  background-color: #5294E2;
}


/* Footer */
footer {
  display: flex;
  flex-flow: row;
  justify-content: center;
  font-size: 1em;
}

footer a, a:visited {
  color: #D4D5D9;
  padding: 5px;
}

footer a:hover {
  color: #5294E2;
}
